#corBackground{
    background-color: #c6c6c6;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#tabelaPacientes{
    font-size: 0.8rem;
}

#card1{
    max-width: 40rem;
}

#btnMostrar{
    max-width: 90rem;
}


